doctype html
html(ng-app='MyApp')
	head
		title Janux Authorization
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		base(href='/')
		link(rel='stylesheet', href=cfg.server.static+'/'+cfg.dir.css+'/main.css?'+cfg.build.timestamp)
		link(rel='stylesheet', href=cfg.server.static+'/'+cfg.dir.css+'/angular-aside.min.css')
		link(rel='stylesheet', href=cfg.server.static+'/'+cfg.dir.css +'/ag-grid.css')
		link(rel='stylesheet', href=cfg.server.static+'/'+cfg.dir.css +'/theme-fresh.css')
		link(rel='stylesheet', href=cfg.server.static + '/' + cfg.dir.css + '/ag-theme-material.css')
		link(rel='stylesheet', href=cfg.server.static + '/' + cfg.dir.css + '/angular-material.min.css')
		link(rel='stylesheet', href=cfg.server.static + '/' + cfg.dir.css + '/material-datetimepicker.css')

		script(src=cfg.server.static+'/'+cfg.file.app+'?'+cfg.build.timestamp)

	body
		section(ui-view id='wrapper' ng-controller='sidebarCtrl')

// vim: set fo=rq wrap:
