.sd-page-content-wrapper.fa-adjust-view.auth-context-view

	//- Draggable Group list
	draggable(
		:class="{ 'isNotLongView-bg': !longView }"
		v-model='authContextGroups', :options="{draggable: longView ? '.auth-context-group' : '.none', group: listTypes.authContextGroup}", @end="groupMoved")
		.auth-context-group(v-for='authContextGroup in authContextGroups')
			.group-element
				table
					tbody
						tr
							td.name {{ authContextGroup.name }}
							td.options
								router-link.action-button(
									v-if="longView"
									:class="{ 'btn btn-success responsive-layout': !longView }"
									:to="{name: 'authContextGroupEdit', params: {authContextGroupCode: authContextGroup.code}}")
									span.fa.fa-pencil.fa-lg(v-if="longView")
								router-link.user-md-button.md-icon-button.auth-action-btn(v-if="!longView", :to="{name: 'authContextGroupEdit', params: {authContextGroupCode: authContextGroup.code}}")
									md-icon
										span.fa.fa-pencil.fa-sm
								| &nbsp&nbsp
								a.action-button(
									v-if="longView"
									:class="{ 'btn btn-success responsive-layout': !longView }"
									@click='openDeleteAuthContextGroupDialog(authContextGroup)')
									span.fa.fa-trash.fa-lg(v-if="longView")
								a.user-md-button.md-icon-button.auth-action-btn(v-if="!longView", @click='openDeleteAuthContextGroupDialog(authContextGroup)')
									md-icon
										span.fa.fa-trash.fa-sm

			//- Draggable Authorization Context list
			draggable.draggable(
				:class="{ 'isNotLongView-bg': !longView }"
				v-model='authContextGroup.values', :options="{draggable: longView ? '.auth-context' : '.none', group: listTypes.authContext}", @end="authContextMoved(authContextGroup, $event)")
				.auth-context(:id="authContext.name", v-for='authContext in authContextGroup.values')
					.element
						table.context-list
							tbody
								tr(:class="{'responsive-tr': !longView}")
									h5(v-if="!longView") Name:
									td.name(:class="{ 'text-center': !longView }") {{ authContext.name }}
									hr(v-if="!longView", class="block-limit") 
									h5(v-if="!longView") Permission:
									td.bits(:class="{ 'text-center': !longView }")
										span(v-for="authBit in authCBitsToArray(authContext.bit)") &nbsp&nbsp {{ authBit.label }}

									hr(v-if="!longView", class="block-limit") 
									td.options(:class="{'responsive-td': !longView}")
										router-link.action-button(
											:class="{ 'btn btn-success responsive-link': !longView }"
											:to="{name: 'authContextEdit', params: {contextGroupCode: authContextGroup.code, contextName: authContext.name, copyFromContext: false}}")
											span.fa.fa-pencil.fa-lg(v-if="longView")
											span(v-if="!longView") edit

										| &nbsp&nbsp
										a.action-button(
											:class="{ 'btn btn-success responsive-link': !longView }"
											@click='openDeleteAuthContextDialog(authContextGroup.code, authContext.name)')
											span.fa.fa-trash.fa-lg(v-if="longView")
											span(v-if="!longView") delete

										| &nbsp
										router-link.action-button(
											:class="{ 'btn btn-success responsive-link': !longView }"
											:to="{name: 'authContextEdit', params: {contextGroupCode: '*', contextName: '*', copyFromContext: authContext.name}}")
											span.fa.fa-files-o.fa-lg(v-if="longView")
											span(v-if="!longView") clone

	.text-left.bottom-controls
		router-link.link.secondary(:to="{name:'authContextCreate'}")
			span.fa.fa-plus.fa-lg
			| &nbsp {{ $t('permission.addAuthContext') }}
		router-link.link.primary(:to="{name: 'authContextGroupCreate'}")
			span.fa.fa-plus.fa-lg
			| &nbsp {{ $t('permission.addDisplayGroup') }}

	md-snackbar(md-position='center', :md-duration="snackbar.duration", :md-active.sync='snackbar.show')
		span {{ $t(snackbar.message) }}
		md-button.md-primary(@click='snackbar.show = false') {{ $t('label.ok') }}

	md-dialog-confirm(
	:md-active.sync='showDelConf',
	md-title="Confirm delete?",
	:md-content='deleteTarget',
	:md-confirm-text='$t("label.ok")',
	:md-cancel-text='$t("label.no")',
	@md-cancel='',
	@md-confirm='deleteConfirmed')

	md-dialog-alert(
	:md-active.sync='dialog.show',
	:md-content='$t(dialog.message)',
	:md-confirm-text='$t("label.ok")')
